.footer {
    background: $fifthColor;

    & .container{
        padding-top: 60px;
        padding-bottom: 60px;  
        display: flex;
    }

    &_list {
        display: flex;
        justify-content: space-between;
    }

    &_section:not(:last-child) {
        margin-right:70px;
    }
}