.footer_socialmedia {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer_icon {
    width: 20px;
    height: 20px;
}

.footer_socialmediaitem {
    display: flex;
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: $thirdColor;
    margin-right:10px;

    &:hover,
    &:focus {
        background-color: $secondaryColor;
        transition-duration:250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}