.content_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-left:24px;
    margin-right:24px;
    margin-bottom: 4px;
}
.content_description {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $fourthColor;
    margin-left:24px;
    margin-right:24px;
    margin-bottom: 20px;
}